$fontColBase: #3f3f3c;
$fontColBaseOpacity: rgba(63, 63, 60, .7);
$fontColLight: rgba(255, 255, 255, .98);
$fontColLightOpacity: rgba(255, 255, 255, .7);
$fontColOrange: #f76459;

$bgColOrange: #f76459; // #3f3f3f
$bgColBaseLight: rgba(255, 255, 255, .98); // #3f3f3f
$bgColBaseDark: rgba(63, 63, 60, .9); // #3f3f3f
$bgColBaseDarkOpacity: rgba(63, 63, 60, .7);


$borderColOrange: #f76459;
$borderColLight: rgba(255, 255, 255, .98);
$borderColLightOpacity: rgba(255, 255, 255, .3);
$borderColLightOpacity2: rgba(255, 255, 255, .7);
$borderColDark: rgba(63, 63, 60, .9);
$borderColDarkOpacity: rgba(63, 63, 60, .7);
$borderColDarkOpacity2: rgba(63, 63, 60, .15);