
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 56px;
    transition: .2s all 0s ease-in-out;
    z-index: 2000;
}
.logo{
    float: right;
    display: inline-block;
    overflow: hidden;
    img{
        height: 32px;
        margin-top: 12px;
        opacity: 0.8;
    }
    img.light-logo{
        display: block;
    }
    img.dark-logo{
        display: none;
    }
}
.main-nav{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    line-height: 56px;
}
.nav-list{
    position: relative;
    float: left;
    display: inline-block;
    height: 56px;
    .nav-item{
        position: relative;
        float: left;
        padding: 0 16px;
        margin-right: 8px;
        cursor: pointer;
        color: $fontColLightOpacity;
        transition: .2s all 0s ease-in-out;
        &:hover{
            color: #fff;
            transition: .2s all 0s ease-in-out;
            .sub-nav-list{
                color: $fontColLightOpacity;
            }
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 46px;
            width: calc( 100% - 32px );
            height: 2px;
            background-color: rgba(255,255,255,.6);
            opacity: 0;
            transition: .2s all 0s ease-in-out;
        }
        &:hover::before{
            top: 54px;
            background-color: rgba(255,255,255,.9);
            opacity: 1;
            transition: .2s all 0s ease-in-out;
        }
    }
}
.sub-nav-list{
    position: absolute;
    top: 56px;
    left: -56px;
    width: 1028px;
    height: 200px;
    display: none;
    padding: 16px 24px;
    line-height: normal;
    background-color: $bgColBaseDarkOpacity;
    .city-box{
        overflow: hidden;
        .city-area{
            margin-bottom: 8px;
        }
        .city-name{
            margin-right: 8px;
            font-size: 13px;
            cursor: pointer;
        }
        .city-name:hover{
            color: $fontColLight;
            text-decoration: underline;
        }
    }
}
header.scroll-header {
    background-color: $bgColBaseLight;
    transition: .2s all 0s ease-in-out;
    .logo {
        img.light-logo {
            display: none;
        }
        img.dark-logo {
            display: block;
        }
    }
    .nav-list {
        .nav-item {
            color: $fontColBaseOpacity;
            transition: .2s all 0s ease-in-out;
            &:hover {
                color: $fontColBase;
                transition: .2s all 0s ease-in-out;
            }
            &::before {
                background-color: $bgColBaseDarkOpacity;
                transition: .2s all 0s ease-in-out;
            }
            &:hover::before {
                background-color: $bgColBaseDark;
                transition: .2s all 0s ease-in-out;
            }
        }
    }
    .sub-nav-list{
        color: $fontColLightOpacity;
    }
}