html{
    height: 100%;
}
body{
    height: 100%;
    font-size: 14px;
    font-family: 'PingFang SC','Helvetica Neue',Helvetica,STHeitiSC-Light,WOL_SB,'Segoe UI Semibold','Segoe UI',Tahoma,Helvetica,'Microsoft Yahei',sans-serif;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clearfix {
    zoom: 1;
    &::before,
    &::after{
        display: table;
        line-height: 0;
        content: "";
    }
}
.text-underline{
    text-decoration: underline;
}
.text-center{
    text-align: center;
}
.word-break-all{
    word-break: break-all;
}
.word-break-normal{
    word-break: normal;
}

.mr-4{
    margin-right: 4px;
}

.mt-8{
    margin-top: 8px;
}
.mt-24{
    margin-top: 24px;
}
.mt-32{
    margin-top: 32px;
}
.mt-40{
    margin-top: 40px;
}
.mt-240{
    margin-top: 240px;
}

.mb-48{
    margin-bottom: 48px;
}
.mb-64{
    margin-bottom: 64px;
}

.pb-64{
    padding-bottom: 64px;
}

.gray-bg-col{
    background: rgb(245, 245, 245);
}
.go{
    display: inline-block;
    width: 144px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: $fontColBaseOpacity;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid $borderColDarkOpacity;
    z-index: 10;
    transition: .2s all 0s ease-in-out;
    &:hover{
        color: $fontColLight;
        border: 1px solid $bgColOrange;
        background-color: $bgColOrange;
        transition: .2s all 0s ease-in-out;
    }
}
.main-body{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main-block{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main-title{
    position: relative;
    font-size: 32px;
    padding-bottom: 24px;
    color: $fontColBaseOpacity;
    font-weight: normal;
    text-align: center;
    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 64px;
        height: 3px;
        margin-left: -32px;
        background-color: $bgColOrange;
    }
}
.main-sub-title{
    font-size: 24px;
    color: $fontColBaseOpacity;
    font-weight: normal;
    letter-spacing: 0;
    text-align: center;
}
.info-list{
    text-align: center;
    overflow: hidden;
    .info-box{
        display: inline-block;
    }
}
.block-title{
    display: inline-block;
    font-size: 32px;
    color: $fontColBase;
    letter-spacing: 2px;
}
.block-sub-title{
    display: inline-block;
    font-size: 18px;
    color: $fontColBaseOpacity;
    letter-spacing: 0;
    line-height: normal;
}

.base-icon{
    position: relative;
    font-style: normal;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (min-width: 360px) and (max-width: 459px) {
    .block-title{
        font-size: 28px;
    }
    .block-sub-title{
        font-size: 16px;
    }
}
@media screen and (max-width: 359px) {
    .block-title{
        font-size: 24px;
    }
    .block-sub-title{
        font-size: 14px;
    }
}
