html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'PingFang SC','Helvetica Neue',Helvetica,STHeitiSC-Light,WOL_SB,'Segoe UI Semibold','Segoe UI',Tahoma,Helvetica,'Microsoft Yahei',sans-serif;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clearfix {
    zoom: 1;
    &::before,
    &::after{
        display: table;
        line-height: 0;
        content: "";
    }
}
.text-underline{
    text-decoration: underline;
}
.text-center{
    text-align: center;
}
.word-break-all{
    word-break: break-all;
}
.word-break-normal{
    word-break: normal;
}

.mt-8{
    margin-top: 8px;
}
.mt-32{
    margin-top: 32px;
}

.main-body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main-title{
    position: relative;
    font-size: 32px;
    padding-bottom: 24px;
    color: $fontColBaseOpacity;
    font-weight: normal;
    text-align: center;
    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 64px;
        height: 3px;
        margin-left: -32px;
        background-color: $bgColOrange;
    }
}
