.destination-body{
    .first-screen{
        position: relative;
        width: 100%;
        .scroll-banner{
            margin: 0 auto;
        }
    }
    .main-body{
        position: relative;
        width: 1080px;
        min-height: 500px;
        margin: 32px auto;
        overflow: unset;
    }
    .destination-info{
        width: 1080px;
        margin: 0 auto;
        .destination-name{
            color: $fontColLight;
            font-size: 18px;
            span{
                display: inline-block;
                padding: 8px 16px;
                background-color: $bgColOrange;
            }
        }
        .destination-desc{
            width: 100%;
            height: auto;
            padding: 24px 32px;
            line-height: normal;
            text-indent: 28px;
            background-color: $bgColBaseLight;
            color: $fontColBaseOpacity;
            box-shadow: 0 0 4px 1px $borderColDarkOpacity2;
        }
    }
    .destination-city-info{
        margin-top: 56px;
        .city-list{
            width: 1080px;
            margin: 0 auto;
        }
        .city-item{
            position: relative;
            width: 100%;
            height: auto;
            height: 200px;
            margin-top: 32px;
            line-height: normal;
            background-color: $bgColBaseLight;
            color: $fontColBaseOpacity;
            box-shadow: 0 0 4px 1px $borderColDarkOpacity2;
        }
        .city-name{
            position: absolute;
            top: 16px;
            left: -24px;
            height: 36px;
            line-height: 36px;
            padding: 0 32px 0 32px;
            background-color: $bgColOrange;
            color: $fontColLight;
            box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.4);
        }
        .city-name:before{
            content: "";
            position: absolute;
            top: 36px;
            left: 0;
            z-index: -1;
            border-left: 24px solid transparent;
            border-top: 10px solid #e05a4f;
        }
        .city-info{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .city-desc{
            display: inline-block;
            width: 70%;
            padding: 24px 32px;
            margin-top: 48px;
            margin-bottom: 16px;
            text-indent: 28px;
        }
        .city-img{
            position: relative;
            display: inline-block;
            width: 30%;
            height: 100%;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 240px;
                height: 160px;
                margin: -80px 0 0 -120px;
            }
        }
        .city-item:nth-child(odd){
            .city-desc{
                float: left;
            }
            .city-img{
                float: right;
            }
        }
        .city-item:nth-child(even){
            .city-name{
                left: auto;
                right: -24px;
                box-shadow: -1px 2px 6px 0px rgba(0,0,0,0.4);
            }
            .city-name:before{
                content: "";
                position: absolute;
                top: 36px;
                right: 0;
                border-right: 24px solid transparent;
                border-top: 10px solid #e05a4f;
            }
            .city-desc{
                float: right;
            }
            .city-img{
                float: left;
            }
        }

    }


    .main-title{
        margin-top: 56px;
        font-size: 36px;
        letter-spacing: 12px;
    }
    .main-sub-title{

    }
    .main-block{
        overflow: hidden;
        &.block-one{
            padding-top: 0;
            box-shadow: 0 1px 0 0 rgba(63, 63, 60, .1) inset;
        }
        &.block-two,
        &.block-three,
        &.block-four {
            height: 640px;
        }
        .block-img,
        .block-text{
            position: relative;
            width: 50%;
            height: 100%;
        }
        .block-img img{
            position: absolute;
            &.block-img-bottom{
                top: 120px;
                height: 480px;
                opacity: 0.6;
            }
            &.block-img-top{
                top: 200px;
                width: 480px;
                box-shadow: 0 0 24px 4px rgba(63, 63, 60, .3);
            }
        }
        .block-img.fl{
            .block-img-bottom{
                right: 150px;
            }
            .block-img-top{
                right: -30px;
            }
        }
        .block-img.fr{
            .block-img-bottom{
                left: 150px;
            }
            .block-img-top{
                left: -30px;
            }
        }
        &.block-four .block-img.fl{
            .block-img-bottom{
                height: 480px;
                right: 240px;
            }
            .block-img-top{
                width: 360px;
                right: -30px;
            }
        }
        .block-text{
            .block-title{
                width: 420px;
            }
            .go{
                width: 160px;
                height: 48px;
                line-height: 48px;
                font-size: 16px;
            }
        }
        .block-text.fr{
            padding-left: 120px;
            text-align: left;
        }
        .block-text.fl {
            padding-right: 120px;
            text-align: right;
        }

    }
    .info-list {
        margin-top: 42px;
        .info-box{
            width: 240px;
            height: 180px;
            line-height: 180px;
            margin: 0 24px;
            color: $fontColBaseOpacity;
            border: 1px solid $borderColDarkOpacity;
        }
    }

}