
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 56px;
    box-shadow: 0 -1px 0 0 $borderColDarkOpacity2 inset;
    background-color: $bgColBaseLight;
    z-index: 2000;
}
.logo{
    float: right;
    display: inline-block;
    height: 56px;
    overflow: hidden;
    cursor: pointer;
    .logo-img{
        display: block;
        height: 48px;
        margin-top: 4px;
        opacity: 0.8;
        transition: .2s all 0s ease-in-out;
        &.transparent{
            display: none;
        }
    }
    &:hover .logo-img {

        transition: .2s all 0s ease-in-out;
    }
}
.main-nav{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    line-height: 56px;
}
.nav-list{
    position: relative;
    float: left;
    display: inline-block;
    height: 56px;
    .nav-item{
        position: relative;
        float: left;
        padding: 0 16px;
        margin-right: 8px;
        cursor: pointer;
        color: $fontColBaseOpacity;
        transition: .2s all 0s ease-in-out;
        & > a{
            display: inline-block;
        }
        &:first-child{
            margin-left: -16px;
        }
        &.active,
        &:hover{
            color: $fontColBase;
            transition: .2s all 0s ease-in-out;
            .sub-nav-list{
                color: $fontColLightOpacity;
            }
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 46px;
            width: calc( 100% - 32px );
            height: 2px;
            background-color: $bgColBaseDarkOpacity;
            opacity: 0;
            transition: .2s all 0s ease-in-out;
        }
        &.active::before,
        &:hover::before{
            top: 54px;
            background-color: $bgColBaseDark;
            opacity: 1;
            transition: .2s all 0s ease-in-out;
        }
    }
}
.sub-nav-list{
    position: absolute;
    top: 56px;
    left: -52px;
    width: 1080px;
    height: auto;
    display: none;
    padding: 16px 32px;
    line-height: normal;
    overflow: hidden;
    cursor: default;
    color: $fontColLightOpacity;
    background-color: $bgColBaseDark;
    .city-part{
        float: left;
        display: inline-block;
        width: 30%;
    }
    .city-box{
        width: 70%;
        margin: 8px 0 24px;
        overflow: hidden;
        .city-area{
            margin-bottom: 8px;
            color: $fontColLight;
        }
        .city-name{
            margin-right: 8px;
            font-size: 13px;
            cursor: pointer;
        }
        .city-area > a:hover,
        .city-name:hover{
            color: $fontColLight;
            text-decoration: underline !important;
        }
    }
}

.transparent-header header{
    background: transparent;
    .logo {
        .logo-img.transparent{
            display: block;
        }
        .logo-img.normal {
            display: none;
        }
    }
    .nav-list {
        .nav-item {
            color: $fontColLightOpacity;
            &.active,
            &:hover{
                color: $fontColLight;
            }
            &::before{
                background-color: $bgColBaseLight;
            }
            &.active::before,
            &:hover::before{
                color: $fontColLight;
                background-color: $bgColBaseLight;
            }
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
    .main-nav{
        max-width: 960px;
    }
    .nav-list{
        margin-left: 32px;
    }
    .sub-nav-list{
        margin-left: 0;
        width: 890px;
    }
    .logo{
        margin-right: 32px;
    }

}
@media screen and (min-width: 768px) and (max-width: 959px) {
    .main-nav{
        max-width: 768px;
    }
    .nav-list{
        margin-left: 16px;
    }
    .sub-nav-list{
        margin-left: 0;
        width: 720px;
        .city-part{
            width: 33%;
        }
    }
    .logo{
        margin-right: 16px;
    }

}
@media screen and (max-width: 767px) {
    .nav-list{
        display: none;
    }
}
