.home-body{

    .first-screen{
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 600px;
        max-height: 760px;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            background-color: rgba(0,0,0,.36);
            z-index: 1;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .slogan{
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
            color: $fontColLight;
            font-size: 72px;
            font-weight: bold;
            letter-spacing: 4px;
            text-align: center;
            z-index: 10;
        }
        .go{
            position: absolute;
            top: 65%;
            left: 50%;
            display: block;
            width: 156px;
            height: 42px;
            margin: 0 0 0 -78px;
            line-height: 32px;
            font-size: 16px;
            color: $fontColLight;
            letter-spacing: 2px;
            text-align: center;
            border: 1px solid $borderColLight;
            z-index: 10;
            transition: .2s all 0s ease-in-out;
            &:hover{
                border: 1px solid $bgColOrange;
                background-color: $bgColOrange;
                transition: .2s all 0s ease-in-out;
            }
        }
    }
    .home-map{
        width: 960px;
        height: calc( 100% - 64px );
        margin: 64px auto 0;
        padding-left: 250px;
        background-color: $bgColOrange;
    }
    .main-body{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .main-title{
        margin-top: 56px;
        font-size: 42px;
        letter-spacing: 12px;
    }

}