
.travels-body{
    .first-screen{
        position: relative;
        height: 300px;
        overflow: hidden;
        background-image: url('/src/imgs/travel-banner.jpg');
        background-size: cover;
        background-position: center center;
        .slogan{
            position: relative;
            width: 100%;
            margin-top: 150px;
            font-size: 28px;
            letter-spacing: 4px;
            text-align: center;
            z-index: 10;
            color: $fontColLight;
        }
        .cover{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.3);
        }
    }
    &.sample-body .first-screen{
        background-image: url('/src/imgs/sample-banner.jpg');
    }
    .base-icon{

    }
    .main-body{
        margin: 32px auto 0;
    }
    .travels-title{
        width: 960px;
        margin: 0 auto;
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        color: $fontColBase;
        .travels-sort{
            float: right;
            cursor: pointer;
            .travels-text{
                font-size: 14px;
                text-decoration: underline;
                color: $fontColBaseOpacity;
            }

        }
        .travels-sort:hover{
            .travels-text{
                text-decoration: none;
                color: $fontColOrange;
            }
            .ico-sort-asc:before{
                border-top: 8px solid $bgColOrange;
            }
            .ico-sort-desc:before{
                border-bottom: 8px solid $bgColOrange;
            }
        }

        .ico-sort-asc:before{
            content: "";
            position: absolute;
            top: 4px;
            left: 2px;
            border: 6px solid transparent;
            border-top: 8px solid $bgColBaseDark;
        }
        .ico-sort-desc:before{
            content: "";
            position: absolute;
            bottom: 4px;
            right: 2px;
            border: 6px solid transparent;
            border-bottom: 8px solid $bgColBaseDark;
        }
    }
    .travels-list{
        width: 960px;
        margin: 16px auto 32px;
    }
    .travels-item{
        position: relative;
        margin: 24px 0;
        background-color: $bgColBaseLight;
        color: $fontColBaseOpacity;
        box-shadow: 0 0 4px 0 $borderColDarkOpacity2;
        overflow: hidden;
        transition: .2s all 0s ease-in-out;
    }
    .travels-item:hover {
        color: $fontColBaseOpacity;
        box-shadow: 0 0 8px 2px rgba(247,100,89,0.5);
        transition: .2s all 0s ease-in-out;
    }
    .travels-img{
        position: relative;
        float: left;
        width: 300px;
        height: 200px;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 240px;
            height: 160px;
            margin: -80px 0 0 -120px;
        }
    }
    .travels-info{
        padding: 16px 24px 8px;
        margin-left: 300px;
    }
    .travels-note{
        line-height: 32px;
        font-size: 18px;
        color: $fontColBase;
        & > a:hover{
            color: $fontColOrange;
            text-decoration: underline !important;
        }
    }
    .travels-summery{
        margin-top: 8px;
        line-height: normal;
        font-size: 14px;
        color: $fontColBaseOpacity;
        word-break: break-all;
    }
    .travels-msg{
        margin: 16px 0 0 0;
        padding: 4px 0;
        line-height: 32px;
        box-shadow: 0 1px 0 0 $borderColDarkOpacity2 inset;
        .writer,
        .date{
            margin-right: 16px;
            color: $fontColBaseOpacity;
        }
    }
    .read-detail{
        float: right;
        width: 56px;
        height: 24px;
        font-size: 12px;
        letter-spacing: 0;
        text-indent: 2px;
        line-height: 24px;
        margin: 4px 0 0 0;
        cursor: pointer;
    }
    .ico-user{
        background-image: url("/src/imgs/icon-user.png");
    }
    .ico-date{
        background-image: url("/src/imgs/icon-date.png");
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .travels-body{
        .travels-title,
        .travels-list{
            width: 720px;
        }
        .travels-img{
            width: 280px;
            height: 200px;
        }
        .travels-info{
            padding: 16px 24px 8px 0;
            margin-left: 280px;
        }
    }
}

@media screen and (max-width: 767px) {
    .travels-body{
        .first-screen{
            height: 200px;
            .slogan{
                margin-top: 100px;
                font-size: 20px;
            }
        }
        .main-body{
            margin-top: 16px;
        }
        .travels-title,
        .travels-list{
            width: 100%;
        }
        .travels-title{
            padding: 0 16px;
        }
        .travels-item:first-child{
            margin-top: 0 ;
        }
        .travels-item:hover {
            box-shadow: 0 0 4px 0 $borderColDarkOpacity2;
        }
        .travels-img{
            width: 220px;
            img{
                width: 200px;
                height: 120px;
                margin: -60px 0 0 -100px;
            }
        }
        .travels-info{
            padding: 16px 24px 8px 16px;
            margin-left: 220px;
        }
    }
}
@media screen and (min-width: 460px) and (max-width: 767px) {
    .travels-body{
        .travels-summery{
            max-height: 100px;
            overflow-y: auto;
        }
    }
}
@media screen and (max-width: 459px) {
    .travels-body{
        .travels-title{
            font-size: 16px;
        }
        .travels-list{
            margin-top: 8px;
        }
        .travels-img{
            position: absolute;
            top: 56px;
            left: 24px;
            width: 100%;
            height: 120px;
            img{
                top: 0;
                left: 0;
                margin: 0;
            }
        }
        .travels-info{
            padding: 8px 16px;
            margin-left: 0;
        }
        .travels-note{
            font-size: 16px;
        }
        .travels-summery{
            margin-top: 160px;
            font-size: 13px;
        }
        .travels-msg{
            .writer,
            .date{
                font-size: 12px;
            }
        }

    }
}
@media screen and (max-width: 359px) {
    .travels-body{
        .read-detail{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none !important;
            background: transparent;
            color: transparent;
            z-index: 100;
        }
    }
}
