<div class="consult-dialog">
    <div class="ngdialog-message">
        <p class="consult-title">免费咨询，联系方式</p>
        <ul class="consult-detail">
            <li class="consult-detail-item qq">
                <img src="/src/imgs/icon-qq.png" >
                <div class="consult-val">newZealand@163.com</div>
            </li>
            <li class="consult-detail-item wechat">
                <img src="/src/imgs/icon-wechat.png" >
                <div class="consult-val">
                    <p>扫描二维码免费咨询</p>
                    <img src="/src/imgs/qcode.png" >
                </div>
            </li>
            <li class="consult-detail-item email">
                <img src="/src/imgs/icon-email.png" >
                <div class="consult-val">newZealand@163.com</div>
            </li>
        </ul>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="go consult-dialog-btn" ng-click="closeThisDialog('Cancel')">关闭</button>
    </div>
</div>
