<div class="contact-layer">
    <ul class="contact-list">
        <li class="contact-item qq">
            <img src="src/imgs/icon-qq.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
        <li class="contact-item wechat">
            <img src="src/imgs/icon-wechat.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
        <li class="contact-item email">
            <img src="src/imgs/icon-email.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
        <li class="contact-item phone">
            <img src="src/imgs/icon-phone.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
        <li class="contact-item weibo">
            <img src="src/imgs/icon-weibo.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
    </ul>
</div>