<div class="contact-layer">
    <ul class="contact-list">
        <li class="contact-item qq">
            <img src="/src/imgs/icon-qq.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
        <li class="contact-item wechat">
            <img src="/src/imgs/icon-wechat.png" >
            <div class="contact-type">
                <p>扫描二维码免费咨询</p>
                <img src="/src/imgs/qcode.png" >
            </div>
        </li>
        <li class="contact-item email">
            <img src="/src/imgs/icon-email.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
        <li class="contact-item note" onclick="window.location.href='./questionnaire.html'">
            <img src="/src/imgs/icon-note.png" >
            <div class="contact-type">调查问卷</div>
        </li>
    </ul>
</div>