<div class="contact-layer">
    <ul class="contact-list">
        <li class="contact-item qq">
            <img src="src/imgs/icon-qq.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
        <li class="contact-item wechat">
            <img src="src/imgs/icon-wechat.png" >
            <div class="contact-type">
                <p>扫描二维码</p>
                <img src="src/imgs/qcode.png" >
            </div>
        </li>
        <li class="contact-item email">
            <img src="src/imgs/icon-email.png" >
            <div class="contact-type">newZealand@163.com</div>
        </li>
    </ul>
</div>