<footer>
    <div class="footer">
        <ul class="footer-list">
            <li class="footer-logo">
                <img class="logo-img" src="/src/imgs/logo-transparent.png" />
            </li>
            <li class="footer-cooperator">
                <p class="footer-title">友情链接</p>
                <a class="footer-item">链接1</a>
                <a class="footer-item">链接2</a>
            </li>
            <li class="footer-contact">
                <p class="footer-title">联系我们</p>
                <span class="footer-item">QQ：newZealand@haizhi.com</span>
                <span class="footer-item">邮箱：newZealand@haizhi.com</span>
            </li>
            <li class="footer-wechat">
                <p class="footer-title">扫描二维码免费咨询</p>
                <img src="/src/imgs/qcode.png" >
            </li>
        </ul>
        <div class="copy-right-box">
            <span class="display-block">Copyright © 2017-2018 Amore Travel Inc. 保留所有权利</span>
            <span class="display-block mt-8">* 本网站部分图片来自网络，若作者看到，请尽快与网站负责人联系。</span>
        </div>
    </div>
</footer>