<header>
    <div class="main-nav">
        <ul class="nav-list">
            <li class="nav-item" ng-class="{'active': view == 'home'}"><a href="/index.html">首页</a></li>
            <li class="nav-item destination" ng-class="{'active': view == 'destination'}"><a href="/destination.html">目的地</a>
                <ul class="nav-list sub-nav-list destination">
                    <div class="fl city-part">
                        <div class="fl city-box" ng-repeat="area in areaList.first">
                            <p class="city-area"><a href="/destination.html">{{area.name}}</a></p>
                            <span class="city-name" ng-repeat="scene in area.scene"><a href="/destination.html">{{scene.name}}</a></span>
                        </div>
                        <div class="fl city-box">
                            <p class="city-area">峡湾（Fiordland）</p>
                            <span class="city-name">米尔福德峡湾</span>
                            <span class="city-name">蒂阿瑙</span>
                            <span class="city-name">神奇峡湾</span>
                        </div>
                        <div class="fl city-box">
                            <p class="city-area">尼尔森（Nelson）</p>
                            <span class="city-name">尼尔森市中心</span>
                            <span class="city-name">黄金湾</span>
                            <span class="city-name">凯特里特里</span>
                            <span class="city-name">莫图依卡</span>
                            <span class="city-name">塔卡卡</span>
                        </div>
                    </div>
                    <div class="fl city-part">
                        <div class="fl city-box">
                            <p class="city-area">奥塔哥（Otago）</p>
                            <span class="city-name">达丁尼</span>
                            <span class="city-name">奥玛鲁</span>
                            <span class="city-name">亚历山德拉</span>
                            <span class="city-name">克伦威尔</span>
                            <span class="city-name">卡特林斯</span>
                        </div>
                        <div class="fl city-box">
                            <p class="city-area">皇后镇（Queenstown）</p>
                            <span class="city-name">皇后镇市中心</span>
                            <span class="city-name">箭镇</span>
                            <span class="city-name">瓦纳卡</span>
                        </div>
                        <div class="fl city-box">
                            <p class="city-area">马尔堡（Marlborough）</p>
                            <span class="city-name">布兰尼姆</span>
                            <span class="city-name">皮克顿</span>
                            <span class="city-name">马尔堡峡湾</span>
                        </div>
                    </div>
                    <div class="fl city-part">
                        <div class="fl city-box">
                            <p class="city-area">南部地区（Southland）</p>
                            <span class="city-name">因沃卡格尔</span>
                            <span class="city-name">布拉夫</span>
                            <span class="city-name">斯图尔特岛</span>
                        </div>
                        <div class="fl city-box">
                            <p class="city-area">西海岸（West Coast）</p>
                            <span class="city-name">格雷茅斯</span>
                            <span class="city-name">弗朗兹约瑟夫冰川</span>
                            <span class="city-name">福克斯冰川</span>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="nav-item" ng-class="{'active': view == 'custom'}"><a href="/custom.html">专属定制</a></li>
            <li class="nav-item" ng-class="{'active': view == 'travels'}"><a href="/travels.html">南途游记</a></li>
            <li class="nav-item" ng-class="{'active': view == 'about'}"><a href="/destination.html">联系我们</a></li>
        </ul>
        <div class="logo">
            <span class="logo-name">爱茉莉旅游</span>
            <img class="logo-img transparent" src="src/imgs/logo-transparent.png" />
            <img class="logo-img normal" src="src/imgs/logo.jpg" />
        </div>
    </div>

</header>