<div class="ui-view-container">
    <div class="first-screen">
        <div class="home-info">
            <div class="home-map" new-zealand-map view-data="viewData" ng-if="viewData.init"></div>

            <div class="geo-info">
                <p class="geo-name">{{viewData.geoInfo.geoName}}</p>
                <p class="geo-sub-name mt-8">{{viewData.geoInfo.geoKey}}</p>
                <button class="go mt-32">进入目的地</button>
            </div>
        </div>
    </div>
    <div class="main-body">
        <div class="main-block block-one">
            <div class="main-title">爱茉莉旅游</div>
            <div class="info-list mt-32">
                <div class="info-box">图片或文字</div>
                <div class="info-box">图片或文字</div>
                <div class="info-box">图片或文字</div>
            </div>
        </div>
        <div class="main-block block-two gray-bg-col">
            <div class="block-img fl">
                <img class="block-img-bottom" src="src/imgs/7.jpg" >
                <img class="block-img-top" src="src/imgs/9.jpg" >
            </div>
            <div class="block-text fr">
                <span class="block-title mt-240">游记</span>
                <span class="block-title block-sub-title mt-24">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</span>
                <div class="btb-wrap">
                    <button class="go mt-40">了解更多</button>
                </div>
            </div>
        </div>
        <div class="main-block block-three">
            <div class="block-img fr">
                <img class="block-img-bottom" src="src/imgs/4.jpg" >
                <img class="block-img-top" src="src/imgs/3.jpg" >
            </div>
            <div class="block-text fl">
                <span class="block-title mt-240">定制流程</span>
                <span class="block-title block-sub-title mt-24">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</span>
                <div class="btb-wrap">
                    <button class="go mt-40">了解更多</button>
                </div>
            </div>
        </div>
        <div class="main-block block-four gray-bg-col pb-64">
            <div class="block-img fl">
                <img class="block-img-bottom" src="src/imgs/2.jpg" >
                <img class="block-img-top" src="src/imgs/1.jpg" >
            </div>
            <div class="block-text fr">
                <span class="block-title mt-240">关于爱茉莉旅游</span>
                <span class="block-title block-sub-title mt-24">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</span>
                <div class="btb-wrap">
                    <button class="go mt-40">了解更多</button>
                </div>
            </div>
        </div>

    </div>
</div>