<!DOCTYPE html>
<html ng-app="iJasmine">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/sass/release/release.css"/>

</head>
<body class="custom-body gray-bg-col" ng-controller="iJasmineCtrl">
<div class="transparent-header" ng-include="'/component/header.html'" onload="headerLoadReady()"></div>

<div class="first-screen">
    <div class="cover"></div>
    <p class="slogan">定制您的专属行程</p>
</div>
<div class="main-body">
    <ul class="custom-step-list">
        <li class="custom-step-item active">
            <div class="step-num">1</div>
            <div class="step-content">
                初次沟通，达成意向
                <button class="go step-show" ng-click="toggleDetail($event)">收起</button>
            </div>
            <div class="step-info">
                <div class="step-detail">
                    商场之战，人们衡量得失，往往是“舍得舍得，有舍必有得”。双十一销售大数据，天猫靠着20天的预售销量压缩，得到了一个比去年更亮眼的大数据，体验上却有些僧多粥少，难免有些遗憾；京东率先突破1000亿的销售量，虽然最终销量不敌天猫，但以相对平衡的购物体验得到了用户的认同。
                </div>
                <div class="step-img">
                    <img src="src/imgs/11.jpg"><img src="src/imgs/12.jpg">
                </div>
            </div>
        </li>
        <li class="custom-step-arrow">
            <img src="src/imgs/icon-next.png">
        </li>
        <li class="custom-step-item">
            <div class="step-num">2</div>
            <div class="step-content">
                完成初步计划书
                <button class="go step-show" ng-click="toggleDetail($event)">查看</button>
            </div>
            <div class="step-info">
                <div class="step-detail">
                    商场之战，人们衡量得失，往往是“舍得舍得，有舍必有得”。双十一销售大数据，天猫靠着20天的预售销量压缩，得到了一个比去年更亮眼的大数据，体验上却有些僧多粥少，难免有些遗憾；京东率先突破1000亿的销售量，虽然最终销量不敌天猫，但以相对平衡的购物体验得到了用户的认同。
                </div>
                <div class="step-img">
                    <img src="src/imgs/11.jpg"><img src="src/imgs/12.jpg">
                </div>
            </div>
        </li>
        <li class="custom-step-arrow">
            <img src="src/imgs/icon-next.png">
        </li>
        <li class="custom-step-item">
            <div class="step-num">3</div>
            <div class="step-content">
                计划书提交用户
                <button class="go step-show" ng-click="toggleDetail($event)">查看</button>
            </div>
            <div class="step-info">
                <div class="step-detail">
                    商场之战，人们衡量得失，往往是“舍得舍得，有舍必有得”。双十一销售大数据，天猫靠着20天的预售销量压缩，得到了一个比去年更亮眼的大数据，体验上却有些僧多粥少，难免有些遗憾；京东率先突破1000亿的销售量，虽然最终销量不敌天猫，但以相对平衡的购物体验得到了用户的认同。
                </div>
                <div class="step-img">
                    <img src="src/imgs/11.jpg"><img src="src/imgs/12.jpg">
                </div>
            </div>
        </li>
        <li class="custom-step-arrow">
            <img src="src/imgs/icon-next.png">
        </li>
        <li class="custom-step-item">
            <div class="step-num">4</div>
            <div class="step-content">
                形成最终路书，时间表及花费明细
                <button class="go step-show" ng-click="toggleDetail($event)">查看</button>
            </div>
            <div class="step-info">
                <div class="step-detail">
                    商场之战，人们衡量得失，往往是“舍得舍得，有舍必有得”。双十一销售大数据，天猫靠着20天的预售销量压缩，得到了一个比去年更亮眼的大数据，体验上却有些僧多粥少，难免有些遗憾；京东率先突破1000亿的销售量，虽然最终销量不敌天猫，但以相对平衡的购物体验得到了用户的认同。
                </div>
                <div class="step-img">
                    <img src="src/imgs/11.jpg"><img src="src/imgs/12.jpg">
                </div>
            </div>
        </li>
        <li class="custom-step-arrow">
            <img src="src/imgs/icon-next.png">
        </li>
        <li class="custom-step-item">
            <div class="step-num">5</div>
            <div class="step-content">
                到达新西兰
                <button class="go step-show" ng-click="toggleDetail($event)">查看</button>
            </div>
            <div class="step-info">
                <div class="step-detail">
                    商场之战，人们衡量得失，往往是“舍得舍得，有舍必有得”。双十一销售大数据，天猫靠着20天的预售销量压缩，得到了一个比去年更亮眼的大数据，体验上却有些僧多粥少，难免有些遗憾；京东率先突破1000亿的销售量，虽然最终销量不敌天猫，但以相对平衡的购物体验得到了用户的认同。
                </div>
                <div class="step-img">
                    <img src="src/imgs/11.jpg"><img src="src/imgs/12.jpg">
                </div>
            </div>
        </li>
        <li class="custom-step-arrow">
            <img src="src/imgs/icon-next.png">
        </li>
        <li class="custom-step-item">
            <div class="step-num">6</div>
            <div class="step-content">
                旅行完成，回国
                <button class="go step-show" ng-click="toggleDetail($event)">查看</button>
            </div>
            <div class="step-info">
                <div class="step-detail">
                    商场之战，人们衡量得失，往往是“舍得舍得，有舍必有得”。双十一销售大数据，天猫靠着20天的预售销量压缩，得到了一个比去年更亮眼的大数据，体验上却有些僧多粥少，难免有些遗憾；京东率先突破1000亿的销售量，虽然最终销量不敌天猫，但以相对平衡的购物体验得到了用户的认同。
                </div>
                <div class="step-img">
                    <img src="src/imgs/11.jpg"><img src="src/imgs/12.jpg">
                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-include="'/component/footer.html'" onload="footerLoadReady()"></div>
<div ng-include="'/component/contact.html'" onload="contactLoadReady()"></div>

<script type="text/javascript" src="/js/lib/jquery/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/js/lib/angular-1.3.0/angular.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>
