$fontColBase: #3f3f3c;
$fontColBaseOpacity: rgba(63, 63, 60, .7);
$fontColLight: rgba(255, 255, 255, .98);
$fontColLightOpacity: rgba(255, 255, 255, .7);
$bgColBaseLight: rgba(255, 255, 255, .98); // #3f3f3f
$bgColBaseDark: rgba(63, 63, 60, .9); // #3f3f3f
$bgColBaseDarkOpacity: rgba(63, 63, 60, .7)